---
---



  <style id="jsbin-css">
    body {
      margin-top: 70px;
    }

    p {
      line-height: 1.7em;
      font-size: 20px;
    }

    .jumbotron {
      text-align: center;
    }
  </style>
  </head>
  <body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="jumbotron">
      <h1>Thoughts in the wind</h1>
      <p>A place to spit my ideas with no bounderies, themes, or models at all.</p>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1> Phylosophy of a body-builder</h1>
        <p>Being a bodybuilder is to be the artist of the human body. It’s to use your own body as a raw material to perfect your art, the ability to make just a body become a piece of art.</p>
         <p> Just like one day what was the art was a marble stone on the seek for perfection now we bold, scallop, shape our bodies onto what we believe to be the beauty, the aesthetic, what people
           i of knowledge call the part of philosophy that understand the beauty, what is beautiful and what is not?</p>
        <p> So that’s what a body builder believes, that he can be stone of his own art, until they reach their concept of perfection,. to be admired, criticised, or appreciated by others, just the
          way people did to artists all over time; who always had those who didn’t like them. Even becoming extremely famous centuries after, Just the way shape\kespeare was not understood during his days.</p>

      </div>
    </div>
  </div>

  <script src="http://static.jsbin.com/js/render/edit.js?3.25.8"></script>

