---
---



  <style id="jsbin-css">
    body {
      margin-top: 70px;
    }


    p {
      line-height: 1.7em;
      font-size: 20px;
      text-align: justify;

    }
    #post-date {
      text-align: right;
    }
    .row {
      border-bottom: dotted;


    }

  </style>
  </head>
  <body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="../" class="navbar-brand">Thoughts in the wind</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
      </div>
    </div>
  </div>

    <div class="cover">
      <div class="container">
        <!--<p>A place to spit my ideas with no bounderies, themes, or models at all.</p>-->
      </div>
    </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1> Seek for happiness </h1>
      <p>We look at people that are successful in their life, with nice car, nice wife, nice house and think
        that they are much happier then they actually are. We assume that because of their financial success  they should be
        extremily happier than we could be for not having those things. But the truth is that deep inside they are not happier
        for that. I’m not saying we should not fight for better things in life, personal achievements, financial success
        and such as.  No! I’m personally a big defender of all these things.I think that this seek for success is what makes
        humanity progress. </p>
      <p>My point is that we sometimes we let these goals create false prizes in the end of the road, illusions.
        And the illusion is to think that certain achievements are going to, by themselves, make our happiness
        levels so much higher  than they actually will. Being unsatisfied with the current situation we live at
        is absolutely fine. As I said, this is what keep us moving. But just as long as it is not going to makes
        us forget of living the moment we’re at, enjoy the things around us, the people, our friends, family, spouses
        . Because if we live thinking: “ My life will be really awesome when I get that promotion” or “…that salary”,
        we’ll live frustrated.
      </p>
      <p>Think for minute that you have a car, you can pay your bills, have some entertainment, etc. Just a normal
        worker's  life. For someone living a very poor situation, struggling with bills, living and even food, your
        life is just like a dream. So the value of things change quite a bit depending on where you’re looking from.</p>
      <p>So the reason for this pattern is that everything we have becomes usual after not too long, and we end up
        not associating that much value to those things anymore. Then we  think of  a new conquest. And this  becomes
        the belief that achieving that we we’ll be happier. In the end it is a loop that can lead to sadness over life.</p>
      <p>Said so, I’m left thinking that the present is the best thing we can relate to happiness. The more grounded we
        are on the present, living intensely the experiences that we have on the reach of our hands, the happier we we’ll be.
        It brings us to think that life is a bit of walking on egg shells when finding the happiness ( living the present)
        without being 'mentally sedentary’ by not looking for progress at any level.  </p>
      <p>It’s funny how whenever I catch myself thinking about things like these Aristotle becomes the wisest man
        again and again: 'virtus in media stat’ (virtue stands in the middle) </p>



      <p id="post-date"> 08/02/2015</p>
    </div>
  </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1> Phylosophy of a body-builder</h1>
          <p>Being a bodybuilder is to be the artist of the human body, with the human body. It’s to use it as a raw material to perfect an art: to turn flesh into a piece of art.</p>
           <p> Just like one day what was the art was a marble stone on the seek for perfection now this people sculp, shape shape their  bodies onto what we believe to be the beauty, the part of
             phylosophy called Aesthetic: what is beautiful and what is not?</p>
          <p> Said so, I understand that bodybuilders believe that they can be stone of their own art, until they reach their concept of perfection. So much effort time and energy spent on dieting
            training and researching. All this to be admired, criticised, or appreciated by others. And I say criticised because in fact many people do criticise this life style. As seeing this as an
            art all that is left is to have a quick look back in time and see how many artists were not understood during their time: does the name Shakespeare ring a bell? just the
            Artists always had those  who didn’t like them or their work. </p>
          <p id="post-date"> 05/02/2015</p>
        </div>
      </div>


  </div>
 </body>

  <script src="http://static.jsbin.com/js/render/edit.js?3.25.8"></script>

